version: 2.1

executors:
  circle-jdk17-executor:
    working_directory: ~/prometheus-rsocket-proxy
    environment:
      GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError"'
    docker:
      - image: cimg/openjdk:17.0.7

jobs:
  build:
    executor: circle-jdk17-executor
    steps:
      - checkout

      - restore_cache:
          keys:
            - gradle-dependencies-{{ .Branch }}-{{ checksum "build.gradle" }}
            - gradle-dependencies-{{ .Branch }}

      - run:
          name: downloadDependencies
          command: ./gradlew downloadDependencies --console=plain

      - save_cache:
          key: gradle-dependencies-{{ .Branch }}-{{ checksum "build.gradle" }}
          paths:
            - ~/.gradle

      - run:
          name: run build
          command: ./gradlew build

      - run:
          name: collect test reports
          when: always
          command: |
            mkdir -p test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} test-results/junit/ \;

      - store_test_results:
          path: test-results/

      - store_artifacts:
          path: test-results/

  deploy:
    executor: circle-jdk17-executor
    steps:
      - checkout
      - restore_cache:
          key: gradle-dependencies-{{ .Branch }}-{{ checksum "build.gradle" }}
      - setup_remote_docker
      - deploy:
          name: Deployment
          command: sh ./gradle/deploy.sh

workflows:
  version: 2
  build_prs_deploy_snapshots:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - main
                - /\d+\.\d+\.x/
  build_deploy_releases:
    jobs:
      - build:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+(-(RC|M)\d+)?$/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+(-(RC|M)\d+)?$/
